<head>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<header class="mb-auto">
    <div>
      <nav class="nav nav-masthead justify-content-center float-md-end">
    <a style="margin: 20px 10px;" class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="{{ url_for('home') }}">Home</a>
    <a style="margin: 20px 10px;" class="nav-link fw-bold py-1 px-0" href="{{ url_for('projects') }}">Projects</a>
    <a style="margin: 20px 10px;" class="nav-link fw-bold py-1 px-0" href="{{ url_for('home') }}">Experiences</a>
    <a style="margin: 20px 10px;" class="nav-link fw-bold py-1 px-0" href="{{ url_for('contact') }}">Contact</a>
</nav>

    </div>
  </header>